@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: green;
  font-family: "Times New Roman", Times, serif;
}
.card {
  width: 300px;
  border-radius: 15px;
  border: 0;
}
.suitdiv {
  font-size: 80px;
}
.facediv {
  font-size: 130px;
}
#bottomsuit {
  transform: rotate(180deg);
  margin-bottom: -20px;
}
#topsuit {
  margin-top: -20px;
}
